@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --header-color: #201D1E;
    /* --orange: #D36135;
    --green: #282B28; */
    --orange: #EFEAE8;
    --green: #201D1E;
    --hover-color: #D36135;
    --hover-transition-time: .5s;
    --header-font-size: 20px;

}

html {
    overflow-x: hidden;
}

.cursor {
    position: fixed;
    left: 10px;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: #D36135;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    z-index: 100;
    display: none;
}

.cursor.show {
    display: block;
}

/* .outer-cursor {
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid #D36135;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
    z-index: 2;
}

.outer-cursor.hide {
    display: none;
} */


section {
    min-height: 100vh;
}

/* header styles */

header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 10px;
    animation: loaderFade 4s;
    z-index: 2;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header li {
    list-style-type: none;
}

a {
    transition: var(--hover-transition-time);
}

a:hover {
    color: var(--hover-color);
    cursor: none;
}

header a {
    text-decoration: none;
    font-size: var(--header-font-size);
    color: var(--header-color);
}

#menu-btn {
    background: none;
    border: none;
    font-size: var(--header-font-size);
    color: var(--header-color);
    transition: var(--hover-transition-time);
}

#menu-btn:hover {
    color: var(--hover-color);
    cursor: none;
}


/* menu styles */

#menu {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background: var(--green);
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    pointer-events: none;
    z-index: 5;
}

.menu-header a {
    color: var(--orange);
}

.menu-header a:hover,
.menu-header button:hover {
    color: #D36135;
}

#close-menu-btn {
    background: none;
    border: none;
    font-size: var(--header-font-size);
    color: var(--orange);
    transition: var(--hover-transition-time);
}

.menu-list-container {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 20px;
}

.menu-list {
    list-style-type: none;
    color: var(--orange);
    font-size: 40px;
}

.menu-list li {
    margin: 50px 0;
}

.menu-list-item {
    opacity: 0;
    text-decoration: none;
    display: inline-block;
    color: var(--orange);
    transition: var(--hover-transition-time);
}

.menu-list-item:hover {
    transform: translateX(20px);
    text-decoration: underline;
    cursor: none;
}



/* loader page styles */



#loader {
    background: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loader-circle-text-container {
    margin: auto;
    /* animation: loaderFade ease 2s; */
}

.circle-text {
    animation: rotate 6s infinite linear;
    width: 500px;
}

@keyframes loaderFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


/* about page styles */

#about {
    background: var(--orange);
    /* padding-bottom: 200vh; */
}

.about-scroll-container {
    display: flex;
    width: 200vw;
    overflow-x: hidden;
}

.about-scroll-col {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: var(--orange);
    font-size: 50px;
    font-weight: 300;
    width: 80vw;
    max-width: 1200px;
    line-height: 150%;
}

p {
    line-height: 150%;
    font-size: 24px;

}


.testimonial {
    color: var(--orange);
    max-width: 700px;
    width: 80vw;
}




/* work page styles */

#work {
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1200px;
    padding: 50px 0 50px 20px;
    overflow-x: hidden;
}

.column-1 {
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    max-width: 800px;
}

.column-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

h3 {
    font-size: 64px;
    color: var(--orange);
    font-weight: 600;
}

.work-list {
    list-style-type: none;
    color: var(--orange);
    font-size: 40px;
}

.work-list li {
    margin: 50px 0;
}

.work-list-item {
    opacity: 0;
    text-decoration: none;
    display: inline-block;
    color: var(--orange);
    transition: var(--hover-transition-time);
}

.work-list-item:hover {
    transform: translateX(20px);
    text-decoration: underline;
}





/* contact page styles */

#contact {
    background: var(--orange);
    display: flex;
    justify-content: center;  
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 1200px;
    padding: 50px 0 50px 20px;  
    overflow-x: hidden;

}

.contact-heading {
    color: var(--green);
}

input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid var(--green);
    margin: 10px 0;
    padding: 20px 0 0 0;
    font-size: 32px;
    color: var(--green);
}

input::placeholder {
    color: var(--green);
    font-size: 32px;
}

input:focus {
    border: none;
    outline: none;
}

.submit-btn {
    border: none;
    background: var(--green);
    color: var(--orange);
    font-size: 32px;
    font-weight: 600;
    padding: 20px;
    transition: var(--hover-transition-time);
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: var(--hover-color);
    color: var(--green);
    cursor: none;
}

.social-container {
    display: flex;
    justify-content: space-evenly;
}

.social-container i {
    font-size: 64px;
    color: var(--green);
    transition: var(--hover-transition-time);
}

.social-container i:hover {
    color: var(--hover-color);
}


@media only screen and (max-width: 1000px) {
    h2 {
        font-size: 50px;
    }

}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 40px;
    }
    
    .work-list-item {
        font-size: 32px;
    }

    .circle-text {
        width: 300px;
    }

    .column-1 {
        min-width: 320px;
    }
}

@media only screen and (max-width: 500px) {
    .column-1 {
        min-width: 280px;
    }

    .work-circle-text, 
    .contact-circle-text {
        /* width: 200px; */
    }
}